    <div class="cont">
        <div class="tabs">
        <ul class="tabs-menu">
            <li class="tab1Active">
                更新日順
            </li>
            <li class="tab2 animate__slideInUp">
                <%= link_to 'いいね順', fav_folders_path, class: "nav-link" %>
            </li>
            <li class="tab3">
                <%= link_to '投稿数順', lotsPost_folders_path, class: "nav-link" %>
            </li>
            <li class="tab4">
                <%= link_to '検索', search_folders_path, class: "nav-link" %>
            </li>
        </ul>

        <div>
            <div class="folder jscroll">
                <div class="folderFlex">
                    <% @upPhoto.each do |photo| %>

                    <div class="folderCard">
                        <div class="folderIm">
                            <% if photo.nil? %>
                            <%= image_tag("no-image.png", class: "folderThumbnail image-gallery__item", alt: "noimage") %>
                            <% else %>
                            <%= image_tag(photo.image.url, class: "folderThumbnail image-gallery__item", alt: "image") %>
                            <% end %>


                            <p id="folderBadge" class="badge badge-secondary">☆<%= photo.folder.addlikes.count %></p>
                        </div>
                        <div id="folderInformation" class="wrap">


                            <h4 class="folderData"><%= link_to photo.folder.title, photo.folder, class:"folTitle" %></h4>
                            <h6 class="folderData fontF">投稿者:<%= link_to photo.folder.user.name, user_path(photo.folder.user) %></h6>
                 
                            <p class="fontF">最終更新日<br><%= photo.updated_at.strftime('%Y/%m/%d') %></p>
                
                        </div>
                    </div>


                    <% end %>
                </div>
                <%= paginate @folders, class:"pageNate" %>
            </div>
        </div>
        </div>
    </div>
